<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta content="{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}" name="title">
        <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>

        <link href="https://fonts.googleapis.com/css?family=Barlow:300,700,900" rel="stylesheet">
        <link href="http://katherinehuang.co/harvey/css/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <h1><a href="{{ site.baseurl }}">Social Media Storm</a></h1><br>
            <h2>Lessons From Hurricane Harvey</h2><br>
            <h3>A project for MIT <a href="http://getinspired.mit.edu">INSPIRE</a> 2018</h3>
        </header>